#mark_table {
    border: 1px solid black;
    border-collapse:collapse;
    width: 95vw;
    margin: 5vh 2vw;
    font-size: 1.2vw;
}

#mark_table th
{
    border: 1px solid black;
    background-color: #c3efe7;
    text-align: left;
    color: #676767;
}
#mark_table td
{
    border:1px solid black;
    padding:5px;
    width: 2vw;
    text-align: center;
}
#mark_table tr:nth-child(odd)
{
    background-color: #eafff4;
}

